/* body {
  background: #bdc3c7;
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
} */

body {
  box-sizing: border-box;
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
}

._logo {
  width: 100px;
  object-fit: contain;
  display: flex;
  margin: auto;
}

.reg_form {
  background-color: white;
  box-sizing: border-box;
  border-radius: 5px;
  width: 550px;
  margin: 50px auto;
  padding: 20px;
  height: fit-content;
}

h3 {
  text-align: center;
  margin: 20px 0;
}

.form-body {
  text-align: center;
  padding: 20px 10px;
}

.form-body>* {
  padding: 5px;
}

.form__label {
  width: 100%;
}

.form__input {
  width: 70%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  text-align: center;
}

.register {
  display: flex;
  margin: auto;
  margin-bottom: 25px;
}